
.member {
  color: brown;
}

.function {
  color: darkgreen;
}

.member, .function {
  font-weight: bold;
}

.paramlist {
  color: black;
}

.param {
  font-weight: bold;
}

.table-attr {
  color: darkblue;
}

.params, .table-attr {
  font-weight: normal;
  font-style: italic;
}
