# NetBeans project files
manifest.mf
nbbuild.xml
nbproject

build_client
build_client_sound_data
marauroa.ini
server.log.*
.stendhal-postman*.xml
keystore*
.externalToolBuilders
build_server_maps
/build
build.ant-private.properties
stendhal.log*
marauroa-strato.ini
build_server
cobertura.ser
.metadata
.checkstyle
build_tiled_convertmaps
server.ini
/classes
bak
textclient-private.sh
.pmd
.fbprefs
.DS_Store
.sonar
tiled.conf
server*.ini
server_stats.xml
javadocs
/lib
/.fbwarnings
/marauroa-prod.ini
/*.euml2
/jmp_dump-*.txt
statserver_stats.xml
/*.ks
build_client_data
/bin
.byecycle
build_server_xmlconf
*.umlproject
/*.cert
/*.csr
/map.map
/hs_err_*.log
/node_modules/
