# Eclipse project files
.project

# NetBeans project files
manifest.mf
nbbuild.xml
nbproject

# CVS repository files
CVS

build_client
build_client_sound_data
marauroa.ini
server.log.*
.stendhal-postman*.xml
keystore.ksX
.externalToolBuilders
keystore_bak.ks
build_server_maps
/build
build.ant-private.properties
stendhal.log*
marauroa-strato.ini
.settings
build_server
cobertura.ser
.classpath
.metadata
.checkstyle
build_tiled_convertmaps
keystore.ks
server.ini
/classes
keystore*
bak
textclient-private.sh
.pmd
.fbprefs
.DS_Store
.sonar
tiled.conf
server*.ini
server_stats.xml
javadocs
/lib
/.fbwarnings
/marauroa-prod.ini
/*.euml2
/jmp_dump-*.txt
statserver_stats.xml
/*.ks
build_client_data
/bin
.byecycle
build_server_xmlconf
*.umlproject
