# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
extensions/binary/steam_appid.txt
extensions/binary/*.so
extensions/binary/*.dll
extensions/binary/nativehelper*
extensions/binary/LICENSE.txt
resources/js/neutralino.d.ts
